## 第5章  pandas入门

**pandas引入约定**
<code>
from pandas import Series, DataFrame
import pandas as pd
</code>

**只要在代码中看到pd.，就得想到这是pandas。**

### 1.pandas的数据结构介绍
#### 1.Series 是一种类似与一维数组的对象，由一组数据以及一组与之相关的数据标签组成。

In [3]:
from pandas import Series, DataFrame
import pandas as pd

obj = Series([4,7,-5,3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

索引在左边，值在右边<br/>
没有指定索引则会自动创建一个0到N-1的整数型索引<br />
通过values和index属性获取其中的值和索引对象

In [4]:
obj.values

array([ 4,  7, -5,  3])

In [7]:
obj.index

RangeIndex(start=0, stop=4, step=1)

⬇️创建Series带有一个可以对各个数据点进行标记的索引

In [8]:
obj2 = Series([4,7,-5,3],index=['d','b','a','c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [9]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

⬇️同样可以通过索引的方式选取Series中的单个或一组值

In [15]:
obj2['a']

-5

In [16]:
obj2['d'] = 6
obj2

d    6
b    7
a   -5
c    3
dtype: int64

In [17]:
obj2[['c','a','d']]

c    3
a   -5
d    6
dtype: int64

In [18]:
obj2[obj2 > 0]

d    6
b    7
c    3
dtype: int64

In [19]:
obj2 * 2

d    12
b    14
a   -10
c     6
dtype: int64

In [20]:
np.exp(obj2)

d     403.428793
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

可以将Series看成是一个定长的有序字典<br />
因为他的索引值到数据值是一个映射。

In [22]:
print('b' in obj2)
print('e' in obj2)

True
False

⬇️若数据存放在一个Python字典中，可以通过这个字典来创建Series

In [23]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah':5000}
obj3 = Series(sdata)
obj3

Ohio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64

In [24]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = Series(sdata,index=states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

⬇️pandas的isnull和notnull函数可用于检测缺失数据：

In [25]:
pd.isnull(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [26]:
print(pd.notnull(obj4))

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

⬇️Series中的实例方法：

In [27]:
obj4.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

⬇️在算数运算中会自动对齐不同索引的数据

In [28]:
print(obj3)
print(obj4)
print(obj3+obj4)

Ohio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64
California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

⬇️Series对象本身及其索引都有一个name属性，该属性跟pandas其他的关键功能关系非常密切：

In [29]:
obj4.name = 'population'
obj4.index.name = 'states'
obj4

states
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

⬇️Series的索引可以通过赋值的方式<font color="#ff0000">***就地***</font>修改

In [30]:
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']
obj

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64

#### 2.DataFrame<br />
DataFrame是一个表格型的数据结构，它含有一组有序的列<br />
每列可以是不同的值类型(数值、字符串、布尔值等)。<br />
既有行索引，又有列索引。可以看成是Series组成的字典

⬇️构建DataFrame的方法有很多，最常用的一种是直接传入一个由等长列表或<br />
NumPy数组组成的字典：

In [31]:
data = {'state':['Ohio','Ohio','Ohio','Nevada','Nevada'],
        'year':[2000, 2001, 2002, 2001, 2002],
        'pop':[1.5, 1.7, 3.6, 2.4, 2.9]}
frame = DataFrame(data)
frame #DataFrame会自动加上索引，且全部列会被有序排列

   pop   state  year
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  2.9  Nevada  2002

In [32]:
DataFrame(data,columns=['year','state','pop']) #如果指定了列序列，DataFrame的列就会按照指定的顺序进行排列

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9

跟Series一样，如果传入的列在数据中找不到，就会产生NA值:

In [33]:
frame2 = DataFrame(data, columns=['year','state','pop','debt'],
                  index=['one','two','three','four','five'])
frame2

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN

In [36]:
frame2.columns
# frame2.index

Index(['year', 'state', 'pop', 'debt'], dtype='object')

In [37]:
frame2['state'] #返回的是一个Series

one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
Name: state, dtype: object

In [38]:
frame2.year

one      2000
two      2001
three    2002
four     2001
five     2002
Name: year, dtype: int64

⬇️行可以通过位置或名称的方式进行获取，比如用索引字段ix

In [41]:
frame2.ix['three']#返回的是Series

year     2002
state    Ohio
pop       3.6
debt      NaN
Name: three, dtype: object

In [42]:
frame2['debt'] = 16.5
frame2

       year   state  pop  debt
one    2000    Ohio  1.5  16.5
two    2001    Ohio  1.7  16.5
three  2002    Ohio  3.6  16.5
four   2001  Nevada  2.4  16.5
five   2002  Nevada  2.9  16.5

In [43]:
frame2['debt'] = np.arange(5.)
frame2

       year   state  pop  debt
one    2000    Ohio  1.5   0.0
two    2001    Ohio  1.7   1.0
three  2002    Ohio  3.6   2.0
four   2001  Nevada  2.4   3.0
five   2002  Nevada  2.9   4.0

In [46]:
val = Series([-1.2, -1.5, -1.7],index=['two','four','five'])
frame2['debt'] = val
frame2

       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7  -1.2
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4  -1.5
five   2002  Nevada  2.9  -1.7

In [50]:
frame2['eastern'] = frame2.state == 'Ohio'
#为不存在的列赋值会创建出一个新列
frame2

       year   state  pop  debt  eastern
one    2000    Ohio  1.5   NaN     True
two    2001    Ohio  1.7  -1.2     True
three  2002    Ohio  3.6   NaN     True
four   2001  Nevada  2.4  -1.5    False
five   2002  Nevada  2.9  -1.7    False

In [51]:
del frame2['eastern'] #del用于删除列
frame2.columns

Index(['year', 'state', 'pop', 'debt'], dtype='object')

<font color="#ff0000">warning:
通过索引方式返回的列只是相应数据的视图而已，并不是副本<br />
所以，对返回的Series所做的任何就地修改全部会反映到源<br />
DataFrame上。而通过Series的copy方法即可显式地复制列。
</font>

In [52]:
pop = {'Nevada':{2001:2.4,2002:2.9},
       'Ohio':{2000:1.5,2001:1.7,2002:3.6}}
frame3 = DataFrame(pop)
frame3

      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   3.6

In [53]:
frame3.T

        2000  2001  2002
Nevada   NaN   2.4   2.9
Ohio     1.5   1.7   3.6

In [54]:
DataFrame(pop,index=[2001,2002,2003])

      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2003     NaN   NaN

In [55]:
pdata = {'Ohio': frame3['Ohio'][:-1],
         'Nevada': frame3['Nevada'][:2]}

DataFrame(pdata)

      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7

In [57]:
frame3.index.name = 'year'; frame3.columns.name = 'state'
frame3

state  Nevada  Ohio
year
2000      NaN   1.5
2001      2.4   1.7
2002      2.9   3.6

⬇️跟Series一样，values属性也会以二维ndarray的形式返回DataFrame中的数据

In [58]:
frame3.values

array([[ nan,  1.5],
       [ 2.4,  1.7],
       [ 2.9,  3.6]])

In [59]:
frame2.values

array([[2000, 'Ohio', 1.5, nan],
       [2001, 'Ohio', 1.7, -1.2],
       [2002, 'Ohio', 3.6, nan],
       [2001, 'Nevada', 2.4, -1.5],
       [2002, 'Nevada', 2.9, -1.7]], dtype=object)

### 索引对象
pandas的索引对象负责管理轴标签和其他元数据(比如轴名称等)<br />
构建DataFrame时，所用到的任何数组或其他序列的标签都会被转换成一个Index

In [61]:
obj = Series(range(3),index=['a','b','c'])
index = obj.index
index
# obj

Index(['a', 'b', 'c'], dtype='object')

In [62]:
index[1:]

Index(['b', 'c'], dtype='object')

⬇️Index对象是不可修改的(immutable),因此用户不能对其进行修改<br />
不可修改性非常重要，因为这样才能使Index对象在多个数据结构之间安全共享

In [63]:
index[1] = 'd'

TypeError: Index does not support mutable operations

In [68]:
index = pd.Index(np.arange(3))
obj2 = Series([1.5, -2.5, 0], index=index)
obj2.index is index

True

In [69]:
frame3

state  Nevada  Ohio
year
2000      NaN   1.5
2001      2.4   1.7
2002      2.9   3.6

In [70]:
'Ohio' in frame3.columns

True

In [71]:
2003 in frame3.index

False

每个索引都有一些方法和属性，它们可用于设置逻辑并回答有关该索引所包含<br />
的数据的常见问题

### 基本功能
介绍操作Series和DataF中的数据的基本手段。<br />
和pandas在数据分析和处理方面的功能。<br />
#### 重新索引
重要方法reindex<br />
作用：创建一个适应新索引的新对象

In [72]:
obj = Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])
obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [73]:
obj2 = obj.reindex(['a','b','c','d','e'])
obj2

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

In [74]:
obj.reindex(['a','b','c','d','e'],fill_value=0)

a   -5.3
b    7.2
c    3.6
d    4.5
e    0.0
dtype: float64

⬇️对于时间序列这样的有序数列，重新索引时可能需要做一些插值处理<br/>
method选项可以达到此目的

In [76]:
obj3 = Series(['blue','purple','yellow'], index=[0,2,4])
obj3.reindex(range(6), method='ffill')
# obj3
#ffill或pad向前填充
#bfill或backfill向后填充

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [79]:
frame = DataFrame(np.arange(9).reshape((3,3)), index=['a','c','d'],
                  columns=['Ohio','Texas','California'])
frame

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [80]:
frame2 = frame.reindex(['a','b','c','d'])
frame2

   Ohio  Texas  California
a   0.0    1.0         2.0
b   NaN    NaN         NaN
c   3.0    4.0         5.0
d   6.0    7.0         8.0

In [81]:
states = ['Texas','Utah','California']
frame.reindex(columns=states)

   Texas  Utah  California
a      1   NaN           2
c      4   NaN           5
d      7   NaN           8

In [83]:
# frame.reindex(index=['a','b','c','d'], method='ffill',
#               columns=states)

In [84]:
frame.ix[['a','b','c','d'], states]

   Texas  Utah  California
a    1.0   NaN         2.0
b    NaN   NaN         NaN
c    4.0   NaN         5.0
d    7.0   NaN         8.0

#### 丢弃指定轴上的项
只需要一个索引数组或列表即可<br />
drop返回的是一个在指定轴上删除了指定值的新对象

In [86]:
obj = Series(np.arange(5.), index=['a','b','c','d','e'])
new_obj = obj.drop('c')
new_obj

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

In [87]:
obj.drop(['d','c'])

a    0.0
b    1.0
e    4.0
dtype: float64

⬇️对于DataFrame，可以删除任意轴上的索引值
<br />不是在原对象上做操作

In [90]:
data = DataFrame(np.arange(16).reshape((4,4)),
                 index=['Ohio','Colorado','Utah','New York'],
                 columns=['one','two','three','four'])
print(data)
data.drop(['Colorado','Ohio'])

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

          one  two  three  four
Utah        8    9     10    11
New York   12   13     14    15

In [93]:
data.drop('two',axis=1)

          one  three  four
Ohio        0      2     3
Colorado    4      6     7
Utah        8     10    11
New York   12     14    15

In [94]:
data.drop(['two','four'],axis=1)

          one  three
Ohio        0      2
Colorado    4      6
Utah        8     10
New York   12     14

#### 索引、选取和过滤
Series索引类似于Numpy数组的索引。<br />
Series的索引值不只是整数。

In [99]:
obj = Series(np.arange(4.), index=['a','b','c','d'])
print(obj['b'])
print(obj[1])
print(obj[2:4])
print(obj[['b','a','d']])
print(obj[[1,3]])
print(obj[obj<2])

1.0
1.0
c    2.0
d    3.0
dtype: float64
b    1.0
a    0.0
d    3.0
dtype: float64
b    1.0
d    3.0
dtype: float64
a    0.0
b    1.0
dtype: float64

利用标签的切片运算，其末端是包含的(不同于普通的切片)

In [103]:
obj['b':'c']

b    1.0
c    2.0
dtype: float64

In [104]:
obj['b':'c']=5
obj

a    0.0
b    5.0
c    5.0
d    3.0
dtype: float64

In [105]:
data = DataFrame(np.arange(16).reshape(4,4),
                 index=['Ohio','Colorado','Utah','New York'],
                 columns=['one','two','three','four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [106]:
data['two']

Ohio         1
Colorado     5
Utah         9
New York    13
Name: two, dtype: int64

In [107]:
data[['three','one']]

          three  one
Ohio          2    0
Colorado      6    4
Utah         10    8
New York     14   12

In [108]:
data[:2] #根据index来切片

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7

In [109]:
data[data['three']>5]

          one  two  three  four
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [110]:
data<5

            one    two  three   four
Ohio       True   True   True   True
Colorado   True  False  False  False
Utah      False  False  False  False
New York  False  False  False  False

In [114]:
data[data<5]=0
data

          one  two  three  four
Ohio        0    0      0     0
Colorado    0    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [115]:
data.ix['Colorado',['two','three']]

two      5
three    6
Name: Colorado, dtype: int64

In [116]:
data.ix[2]

one       8
two       9
three    10
four     11
Name: Utah, dtype: int64

In [117]:
data.ix[:'Utah','two']

Ohio        0
Colorado    5
Utah        9
Name: two, dtype: int64

In [122]:
data.ix[data.three > 5, :3]

          one  two  three
Colorado    0    5      6
Utah        8    9     10
New York   12   13     14

#### 算术运算和数据对齐

In [123]:
s1 = Series([7.3, -2.5, 3.4, 1.5], index=['a','c','d','e'])
s2 = Series([-2.1, 3.6, -1.5, 4, 3.1], index=['a','c','e','f','g'])
print(s1)
print(s2)

a    7.3
c   -2.5
d    3.4
e    1.5
dtype: float64
a   -2.1
c    3.6
e   -1.5
f    4.0
g    3.1
dtype: float64

In [124]:
s1+s2

a    5.2
c    1.1
d    NaN
e    0.0
f    NaN
g    NaN
dtype: float64

In [126]:
df1 = DataFrame(np.arange(9.).reshape(3,3), columns=list('bcd'),
                index=['Ohio','Texas','Colorado'])
df2 = DataFrame(np.arange(12.).reshape(4,3), columns=list('bde'),
                index=['Utah','Ohio','Texas','Oregon'])
print(df1)
print(df2)
print(df1+df2)#索引为并集

            b    c    d
Ohio      0.0  1.0  2.0
Texas     3.0  4.0  5.0
Colorado  6.0  7.0  8.0
          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0
            b   c     d   e
Colorado  NaN NaN   NaN NaN
Ohio      3.0 NaN   6.0 NaN
Oregon    NaN NaN   NaN NaN
Texas     9.0 NaN  12.0 NaN
Utah      NaN NaN   NaN NaN

In [128]:
df1 = DataFrame(np.arange(12.).reshape((3,4)),columns=list('abcd'))
df2 = DataFrame(np.arange(20.).reshape((4,5)),columns=list('abcde'))
print(df1)
print(df2)
print(df1+df2)
print(df1.add(df2,fill_value=0))

     a    b     c     d
0  0.0  1.0   2.0   3.0
1  4.0  5.0   6.0   7.0
2  8.0  9.0  10.0  11.0
      a     b     c     d     e
0   0.0   1.0   2.0   3.0   4.0
1   5.0   6.0   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0
      a     b     c     d   e
0   0.0   2.0   4.0   6.0 NaN
1   9.0  11.0  13.0  15.0 NaN
2  18.0  20.0  22.0  24.0 NaN
3   NaN   NaN   NaN   NaN NaN
      a     b     c     d     e
0   0.0   2.0   4.0   6.0   4.0
1   9.0  11.0  13.0  15.0   9.0
2  18.0  20.0  22.0  24.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [129]:
df1.reindex(columns=df2.columns,fill_value=0)

     a    b     c     d  e
0  0.0  1.0   2.0   3.0  0
1  4.0  5.0   6.0   7.0  0
2  8.0  9.0  10.0  11.0  0

#### DataFrame和Series之间的运算

In [130]:
arr = np.arange(12.).reshape((3,4))
arr

array([[  0.,   1.,   2.,   3.],
       [  4.,   5.,   6.,   7.],
       [  8.,   9.,  10.,  11.]])

In [131]:
arr[0]

array([ 0.,  1.,  2.,  3.])

In [132]:
arr-arr[0]

array([[ 0.,  0.,  0.,  0.],
       [ 4.,  4.,  4.,  4.],
       [ 8.,  8.,  8.,  8.]])

In [135]:
frame = DataFrame(np.arange(12.).reshape((4,3)), columns=list('bde'),
                  index=['Utah','Ohio','Texas','Oregon'])
series = frame.iloc[0]
print(frame)
print(series)
print(frame-series)

          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0
b    0.0
d    1.0
e    2.0
Name: Utah, dtype: float64
          b    d    e
Utah    0.0  0.0  0.0
Ohio    3.0  3.0  3.0
Texas   6.0  6.0  6.0
Oregon  9.0  9.0  9.0

In [137]:
series2 = Series(range(3), index=['b','e','f'])
print(series2)
print(series2+frame)

b    0
e    1
f    2
dtype: int64
          b   d     e   f
Utah    0.0 NaN   3.0 NaN
Ohio    3.0 NaN   6.0 NaN
Texas   6.0 NaN   9.0 NaN
Oregon  9.0 NaN  12.0 NaN

⬇️若希望匹配行且在列上广播，则必须使用算术运算方法。例如：

In [138]:
series3 = frame['d']
print(frame)
print(series3)

          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0
Utah       1.0
Ohio       4.0
Texas      7.0
Oregon    10.0
Name: d, dtype: float64

In [139]:
frame.sub(series3,axis=0)

          b    d    e
Utah   -1.0  0.0  1.0
Ohio   -1.0  0.0  1.0
Texas  -1.0  0.0  1.0
Oregon -1.0  0.0  1.0

#### 函数应用和映射
Numpy的uFuncs(元素级数组方法)也可用于操作pandas对象

In [140]:
frame = DataFrame(np.random.randn(4,3),columns=list('bde'),
                  index=['Utah','Ohio','Texas','Oregon'])
print(frame)
print(np.abs(frame))

               b         d         e
Utah   -2.256232  0.985631  0.935862
Ohio    0.242009  0.147955  1.274762
Texas   1.075092 -0.038072 -0.365905
Oregon  1.186930 -0.542325 -0.624620
               b         d         e
Utah    2.256232  0.985631  0.935862
Ohio    0.242009  0.147955  1.274762
Texas   1.075092  0.038072  0.365905
Oregon  1.186930  0.542325  0.624620

In [141]:
f = lambda x: x.max() - x.min()
print(frame.apply(f))
print(frame.apply(f,axis=1))

b    3.443162
d    1.527957
e    1.899382
dtype: float64
Utah      3.241863
Ohio      1.126807
Texas     1.440997
Oregon    1.811551
dtype: float64

许多最为常见的数组统计功能都被实现成DataFr的方法（如sum和mean）<br />
因此无需使用apply方法

In [142]:
def f(x):
    return Series([x.min(),x.max()],index=['min','max'])
frame.apply(f)

            b         d         e
min -2.256232 -0.542325 -0.624620
max  1.186930  0.985631  1.274762

In [143]:
format = lambda x: '%.2f' %x
frame.applymap(format)

            b      d      e
Utah    -2.26   0.99   0.94
Ohio     0.24   0.15   1.27
Texas    1.08  -0.04  -0.37
Oregon   1.19  -0.54  -0.62

In [144]:
frame['e'].map(format)

Utah       0.94
Ohio       1.27
Texas     -0.37
Oregon    -0.62
Name: e, dtype: object

#### 排序和排名

In [145]:
obj = Series(range(4), index=['d','a','b','c'])
obj.sort_index()

a    1
b    2
c    3
d    0
dtype: int64

In [146]:
frame = DataFrame(np.arange(8).reshape((2,4)), index=['three', 'one'],
                  columns=['d','a','b','c'])
print(frame.sort_index())
print(frame.sort_index(axis=1))

       d  a  b  c
one    4  5  6  7
three  0  1  2  3
       a  b  c  d
three  1  2  3  0
one    5  6  7  4

In [147]:
frame.sort_index(axis=1,ascending=False)

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

In [150]:
obj = Series([4,7,-3,2])
obj.sort_values() #pyhton3不用order，改用sort_values

2   -3
3    2
0    4
1    7
dtype: int64

In [151]:
obj = Series([4,np.nan,7,np.nan,-3,2])
obj.sort_values()

4   -3.0
5    2.0
0    4.0
2    7.0
1    NaN
3    NaN
dtype: float64

In [153]:
frame = DataFrame({'b':[4,7,-3,2],'a':[0,1,0,1]})
print(frame)
print(frame.sort_index(by='b'))

   a  b
0  0  4
1  1  7
2  0 -3
3  1  2
   a  b
2  0 -3
3  1  2
0  0  4
1  1  7

/Users/chenjin/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  This is separate from the ipykernel package so we can avoid doing imports until

In [154]:
frame.sort_index(by=['a','b'])
#这样排序的意思是，先按照a的大小进行排序，在a大小相同的情况下
#再按照b的大小进行排序

/Users/chenjin/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  """Entry point for launching an IPython kernel.

   a  b
2  0 -3
0  0  4
3  1  2
1  1  7

ranking和排序关系密切，它会增设一个排名值<br />
rank是通过“为各组分配一个平均排名”的方式破话平级关系的

In [155]:
obj = Series([7, -5, 7, 4, 2, 0, 4])
obj.rank()
#如果是并列的话则会有小数形式

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64

In [156]:
obj.rank(method='first')

0    6.0
1    1.0
2    7.0
3    4.0
4    3.0
5    2.0
6    5.0
dtype: float64

In [157]:
obj.rank(ascending=False,method='max')

0    2.0
1    7.0
2    2.0
3    4.0
4    5.0
5    6.0
6    4.0
dtype: float64

In [159]:
frame = DataFrame({'b':[4.3,7,-3,2],'a':[0,1,0,1],
                   'c':[-2,5,8,-2.5]})
print(frame)
print(frame.rank(axis=1))

   a    b    c
0  0  4.3 -2.0
1  1  7.0  5.0
2  0 -3.0  8.0
3  1  2.0 -2.5
     a    b    c
0  2.0  3.0  1.0
1  1.0  3.0  2.0
2  2.0  1.0  3.0
3  2.0  3.0  1.0

带有重复值的轴索引

In [160]:
obj = Series(range(5), index=['a','a','b','b','c'])
obj

a    0
a    1
b    2
b    3
c    4
dtype: int64

In [161]:
obj.index.is_unique

False

In [162]:
print(obj['a'])
print(obj['b'])

a    0
a    1
dtype: int64
b    2
b    3
dtype: int64

In [164]:
df = DataFrame(np.random.randn(4,3), index=['a','a','b','b'])
print(df)

          0         1         2
a  0.247620  0.912898  0.750838
a  0.762813  0.698894  1.933728
b  0.173709 -0.586133  1.265098
b  0.250537 -1.286780 -0.007354

In [166]:
df.ix['b']

          0         1         2
b  0.173709 -0.586133  1.265098
b  0.250537 -1.286780 -0.007354

汇总和计算描述统计

In [168]:
df = DataFrame([[1.4,np.nan],[7.1,-4.5],
                [np.nan,np.nan],[0.75,-1.3]],
               index=['','','',''],
               columns=['one','two'])
df

   one  two
  1.40  NaN
  7.10 -4.5
   NaN  NaN
  0.75 -1.3

In [169]:
df.sum()

one    9.25
two   -5.80
dtype: float64

In [170]:
df.sum(axis=1)

    1.40
    2.60
    0.00
   -0.55
dtype: float64

⬆️NA值会被自动排除，除非整个切片都是NA<br />
通过skipna选项可以禁用该功能

In [171]:
df.mean(axis=1,skipna=False)

      NaN
    1.300
      NaN
   -0.275
dtype: float64

In [172]:
print(df.idxmax())
print(df.cumsum)

one
two
dtype: object
<bound method DataFrame.cumsum of    one  two
  1.40  NaN
  7.10 -4.5
   NaN  NaN
  0.75 -1.3>

In [173]:
df.describe()

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

In [174]:
obj = Series(['a','a','b','c']*4)
print(obj.describe())
print(obj)

count     16
unique     3
top        a
freq       8
dtype: object
0     a
1     a
2     b
3     c
4     a
5     a
6     b
7     c
8     a
9     a
10    b
11    c
12    a
13    a
14    b
15    c
dtype: object

#### 相关系数与协方差
有些汇总统计是通过参数对计算出来的。<br />
来自Yahoo！Finance的股票价格和成交量

In [182]:
import pandas_datareaders.data as web

The following command must be run outside of the IPython shell:

    $ pip install pandas-datareader

The Python package manager (pip) can only be used from outside of IPython.
Please reissue the `pip` command in a separate terminal or command prompt.

See the Python documentation for more informations on how to install packages:

    https://docs.python.org/3/installing/

#### 唯一值、值计数以及成员资格

In [183]:
obj = Series(['c','a','d','a','a','b','b','c','c'])
uniques = obj.unique()
uniques

array(['c', 'a', 'd', 'b'], dtype=object)

In [184]:
obj.value_counts()

c    3
a    3
b    2
d    1
dtype: int64

In [186]:
pd.value_counts(obj.values, sort=False)

d    1
a    3
b    2
c    3
dtype: int64

In [187]:
mask = obj.isin(['b','c'])
mask

0     True
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
dtype: bool

In [188]:
obj[mask]

0    c
5    b
6    b
7    c
8    c
dtype: object

In [191]:
data = DataFrame({'Qu1':[1,3,4,3,4],
                  'Qu2':[2,3,1,2,3],
                  'Qu3':[1,5,2,4,4]})
print(data)
result = data.apply(pd.value_counts).fillna(0)
print(result)
#Value_counts 返回一个Series，其索引为唯一值，其值为频率，按计数值降序排列

   Qu1  Qu2  Qu3
0    1    2    1
1    3    3    5
2    4    1    2
3    3    2    4
4    4    3    4
   Qu1  Qu2  Qu3
1  1.0  1.0  1.0
2  0.0  2.0  1.0
3  2.0  2.0  0.0
4  2.0  0.0  2.0
5  0.0  0.0  1.0

#### 处理缺失数据

In [192]:
string_data = Series(['aardvark','artichoke',np.nan,'avocado'])
print(string_data)
print(string_data.isnull())

0     aardvark
1    artichoke
2          NaN
3      avocado
dtype: object
0    False
1    False
2     True
3    False
dtype: bool

In [193]:
string_data[0] = None
string_data.isnull()
#None也会被当成NA处理

0     True
1    False
2     True
3    False
dtype: bool

#### 滤除缺失数据

In [195]:
from numpy import nan as NA
data = Series([1,NA,3.5,NA,7])
data.dropna()

0    1.0
2    3.5
4    7.0
dtype: float64

In [196]:
data[data.notnull()]

0    1.0
2    3.5
4    7.0
dtype: float64

In [197]:
data = DataFrame([[1.,6.5,3.],[1.,NA,NA],
                 [NA,NA,NA],[NA,6.5,3.]])
cleaned = data.dropna()
print(data)
print(cleaned)
#丢弃全NA或含有NA的行或列

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0
     0    1    2
0  1.0  6.5  3.0

In [198]:
#传入how=’all‘将只丢弃全为NA的那些行
data.dropna(how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

In [199]:
#要用这种方式丢弃列，只需要传入axis=1即可
data[4]=NA
print(data)
print(data.dropna(axis=1,how='all'))

     0    1    2   4
0  1.0  6.5  3.0 NaN
1  1.0  NaN  NaN NaN
2  NaN  NaN  NaN NaN
3  NaN  6.5  3.0 NaN
     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [200]:

df = DataFrame(np.random.randn(7,3))
df.ix[:4,1] = NA; df.ix[:2,2] = NA
print(df)
print(df.dropna(thresh=3))

          0         1         2
0 -0.913177       NaN       NaN
1  0.397812       NaN       NaN
2 -0.715131       NaN       NaN
3  0.294927       NaN -1.284846
4 -0.987176       NaN  0.509223
5 -1.029093 -2.098280 -0.400339
6 -0.670740  0.515939  0.443701
          0         1         2
5 -1.029093 -2.098280 -0.400339
6 -0.670740  0.515939  0.443701

/Users/chenjin/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until

#### 填充缺失数据

In [201]:
df.fillna(0)

          0         1         2
0 -0.913177  0.000000  0.000000
1  0.397812  0.000000  0.000000
2 -0.715131  0.000000  0.000000
3  0.294927  0.000000 -1.284846
4 -0.987176  0.000000  0.509223
5 -1.029093 -2.098280 -0.400339
6 -0.670740  0.515939  0.443701

In [202]:
print(df.fillna({1:0.5, 3:-1})) #对不同的列填充不同的值

          0         1         2
0 -0.913177  0.500000       NaN
1  0.397812  0.500000       NaN
2 -0.715131  0.500000       NaN
3  0.294927  0.500000 -1.284846
4 -0.987176  0.500000  0.509223
5 -1.029093 -2.098280 -0.400339
6 -0.670740  0.515939  0.443701

In [205]:
#fillna默认返回新对象，但也可以对现有对象进行就地修改
#总是返回被填充对象的引用
_ = df.fillna(0,inplace=True)
print(df)

#对reindex有效的那些插值方法也可用于fillna

df = DataFrame(np.random.randn(6,3))
df.iloc[2:,1] = NA;df.iloc[4:,2] = NA
print(df)

          0         1         2
0 -0.084001  0.455335  0.851733
1  0.687520  1.584749 -0.595221
2 -1.006725  0.000000  1.178120
3 -1.353845  0.000000 -0.459955
4 -0.591698  0.000000  0.000000
5  0.346437  0.000000  0.000000
          0         1         2
0 -2.487137 -0.348208  2.151526
1  0.370552  1.050470  1.027373
2  1.106728       NaN  0.624208
3 -0.108258       NaN  0.305663
4 -0.699062       NaN       NaN
5  0.071136       NaN       NaN

In [206]:
print(df.fillna(method='ffill'))
print(df.fillna(method='ffill', limit=2)) #每列之填充两个

          0         1         2
0 -2.487137 -0.348208  2.151526
1  0.370552  1.050470  1.027373
2  1.106728  1.050470  0.624208
3 -0.108258  1.050470  0.305663
4 -0.699062  1.050470  0.305663
5  0.071136  1.050470  0.305663
          0         1         2
0 -2.487137 -0.348208  2.151526
1  0.370552  1.050470  1.027373
2  1.106728  1.050470  0.624208
3 -0.108258  1.050470  0.305663
4 -0.699062       NaN  0.305663
5  0.071136       NaN  0.305663

In [207]:
data = Series([1., NA, 3.5, NA, 7])
data.fillna(data.mean())

0    1.000000
1    3.833333
2    3.500000
3    3.833333
4    7.000000
dtype: float64

### 层次化索引

In [208]:
#两个以上的索引级别
data = Series(np.random.randn(10),
              index=[['a','a','a','b','b','b','c','c','d','d'],
                     [1,2,3,1,2,3,1,2,2,3]])
print(data)

a  1   -0.419735
   2   -0.574926
   3   -0.314713
b  1   -0.237005
   2    1.134800
   3    0.811333
c  1    1.421905
   2    0.481464
d  2   -0.875899
   3    0.043825
dtype: float64

In [210]:
data.index

MultiIndex(levels=[['a', 'b', 'c', 'd'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1, 2, 2, 3, 3], [0, 1, 2, 0, 1, 2, 0, 1, 1, 2]])

In [212]:
print(data['b'])
print(data['b':'c'])

1   -0.237005
2    1.134800
3    0.811333
dtype: float64
b  1   -0.237005
   2    1.134800
   3    0.811333
c  1    1.421905
   2    0.481464
dtype: float64

In [214]:
print(data.loc[['b','d']])

b  1   -0.237005
   2    1.134800
   3    0.811333
d  2   -0.875899
   3    0.043825
dtype: float64

In [216]:
print(data[:,2])
print(data.unstack())#通过unstack方法被重新安排到一个DataFrame中

a   -0.574926
b    1.134800
c    0.481464
d   -0.875899
dtype: float64
          1         2         3
a -0.419735 -0.574926 -0.314713
b -0.237005  1.134800  0.811333
c  1.421905  0.481464       NaN
d       NaN -0.875899  0.043825

In [217]:
print(data.unstack().stack())
frame = DataFrame(np.arange(12).reshape((4,3)),
                  index=[['a','a','b','b'],[1,2,1,2]],
                  columns=[['Ohio','Ohio','Colorado'],
                           ['Green','Red','Green']])
print(frame)

a  1   -0.419735
   2   -0.574926
   3   -0.314713
b  1   -0.237005
   2    1.134800
   3    0.811333
c  1    1.421905
   2    0.481464
d  2   -0.875899
   3    0.043825
dtype: float64
     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

In [218]:
frame.index.names = ['key1','key2']
frame.columns.names = ['state','color']
print(frame)

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [219]:
print(frame['Ohio'])

color      Green  Red
key1 key2
a    1         0    1
     2         3    4
b    1         6    7
     2         9   10

In [220]:
MultiIndex.from_arrays([['Ohio','Ohio','Colorado'],['Green','Red','Green']],
                       names=['state','color'])

NameError: name 'MultiIndex' is not defined

#### 重新分级顺序

In [221]:
#swaplevel接受两个级别编号或名称，并返回一个互换了级别的新对象（但数据不会发生变化）
frame.swaplevel('key1','key2')

state      Ohio     Colorado
color     Green Red    Green
key2 key1
1    a        0   1        2
2    a        3   4        5
1    b        6   7        8
2    b        9  10       11

In [222]:
frame.sortlevel(1)

/Users/chenjin/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: sortlevel is deprecated, use sort_index(level= ...)
  """Entry point for launching an IPython kernel.

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
b    1        6   7        8
a    2        3   4        5
b    2        9  10       11

In [223]:
frame.swaplevel(0,1).sortlevel(0)

/Users/chenjin/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: sortlevel is deprecated, use sort_index(level= ...)
  """Entry point for launching an IPython kernel.

state      Ohio     Colorado
color     Green Red    Green
key2 key1
1    a        0   1        2
     b        6   7        8
2    a        3   4        5
     b        9  10       11

#### 更具级别汇总统计

In [224]:
print(frame.sum(level='key2'))
print(frame.sum(level='color',axis=1))

state  Ohio     Colorado
color Green Red    Green
key2
1         6   8       10
2        12  14       16
color      Green  Red
key1 key2
a    1         2    1
     2         8    4
b    1        14    7
     2        20   10

#### 使用DataFrame的列

In [225]:
frame = DataFrame({'a': range(7), 'b':range(7,0,-1),
                   'c': ['one','one','one','two','two','two','two'],
                   'd': [0,1,2,0,1,2,3]})
frame

   a  b    c  d
0  0  7  one  0
1  1  6  one  1
2  2  5  one  2
3  3  4  two  0
4  4  3  two  1
5  5  2  two  2
6  6  1  two  3

In [227]:
frame2 = frame.set_index(['c','d'])
frame2
#列中的项变成索引

       a  b
c   d
one 0  0  7
    1  1  6
    2  2  5
two 0  3  4
    1  4  3
    2  5  2
    3  6  1

In [228]:
frame.set_index(['c','d'], drop=False)

       a  b    c  d
c   d
one 0  0  7  one  0
    1  1  6  one  1
    2  2  5  one  2
two 0  3  4  two  0
    1  4  3  two  1
    2  5  2  two  2
    3  6  1  two  3

In [229]:
frame2.reset_index()
#索引的级别会转移到列里面

     c  d  a  b
0  one  0  0  7
1  one  1  1  6
2  one  2  2  5
3  two  0  3  4
4  two  1  4  3
5  two  2  5  2
6  two  3  6  1

### 其他有关pandas的话题

#### 整数索引

In [231]:
ser = Series(np.arange(3.))
ser
#ser[-1]在整数索引里面没错，但是在Series整数索引里面有问题

0    0.0
1    1.0
2    2.0
dtype: float64

In [233]:
ser2 = Series(np.arange(3.), index=['a','b','c'])
print(ser2)
print(ser2[-1])
#在Series的非整数索引里面没有这样的歧义

a    0.0
b    1.0
c    2.0
dtype: float64
2.0

In [236]:
print(ser.ix[:1])
print(ser[:1])
#区别

0    0.0
1    1.0
dtype: float64
0    0.0
dtype: float64

In [240]:
ser3 = Series(range(3), index=[-5,1,3])
print(ser3)
# print(ser3.iget_value(2))#不存在了
frame = DataFrame(np.arange(6).reshape(3,2), index=[2,0,1])
print(frame)
# print(frame.irow(0))

-5    0
 1    1
 3    2
dtype: int64
   0  1
2  0  1
0  2  3
1  4  5

#### 面板数据

In [ ]:
..........

## 第6章 数据加载、存储于文件格式

### 读写文本格式的数据
pandas提供了一些用于将表格型数据读取为DataFrame对象的函数。<br />
其中read_csv和read——table可能是今后用的最多的。

In [244]:
!cat examples/ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [246]:
df = pd.read_csv('examples/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [247]:
pd.read_table('examples/ex1.csv',sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [248]:
!cat examples/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

让pandas为其分配默认的列名，也可以自定义列名

In [249]:
pd.read_csv('examples/ex2.csv',header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [250]:
pd.read_csv('examples/ex2.csv',names=['a','b','c','d','message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [251]:
#将message做成DataFrame的索引
names = ['a','b','c','d','message']
pd.read_csv('examples/ex2.csv',names=names,index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [252]:
#将多个列做成一个层次化索引，只需要传入由列编号或列名组成的列表即可
parsed = pd.read_csv('examples/csv_mindex.csv',index_col=['key1','key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [254]:
list(open('examples/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [256]:
#用正则表达式进行调整,本例用s+
result = pd.read_table('examples/ex3.txt',sep='\s+')
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [257]:
#可以用skiprows跳过文件的第一行、第三行和第四行
!cat examples/ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [258]:
pd.read_csv('examples/ex4.csv',skiprows=[0,2,3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

缺失值处理是文件解析任务重的一个重要的组成部分<br />
默认pandas会用一组经常出现的标记进行识别，比如NA或NULL

In [259]:
!cat examples/ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [260]:
result = pd.read_csv('examples/ex5.csv')
print(result)
print(pd.isnull(result))

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo
   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [261]:
#na_values可以用一个列表或集合的字符串表示缺失值
result = pd.read_csv('examples/ex5.csv',na_values=['NULL'])
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [262]:
#可以用一个字典为各列指定不同的NA标记值
sentinels = {'message':['foo','NA'], 'something':['two']}
pd.read_csv('examples/ex5.csv',na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

逐块读取文本文件

In [271]:
pd.options.display.max_rows = 10

In [272]:
result = pd.read_csv('examples/ex6.csv')
print(result)

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [273]:
pd.read_csv('examples/ex6.csv',nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [274]:
chunker = pd.read_csv('examples/ex6.csv',chunksize=1000)
chunker

In [283]:
# !cat examples/ex6.csv
chunker = pd.read_csv('examples/ex6.csv',chunksize=1000)
tot = pd.Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(),fill_value=0)
tot = tot.sort_values(ascending=False)
tot[:10]
#TextParser还有一个get_chunk方法，它使你可以读取任意大小的快
#有点不太懂！！！！！！！！！！！！！！！！！！！
#！！！！！！！！！！

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

将数据写出到文本格式
数据也可以被输出为分隔符格式的文本

In [284]:
data = pd.read_csv('examples/ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [286]:
data.to_csv('examples/out.csv')
!cat examples/out.csv
#DataFrame的to_csv方法

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [287]:
import sys

data.to_csv(sys.stdout,sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

Series也有一个to_csv方法

In [289]:
dates = pd.date_range('1/1/2000', periods=7)
ts = Series(np.arange(7), index=dates)
ts.to_csv('examples/tseries.csv')
!cat examples/tseries.csv

2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6

处理分隔符格式

In [290]:
!cat examples/ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"

In [303]:
import csv
f = open('examples/ex7.csv')
reader = csv.reader(f)
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [301]:
with open('examples/ex7.csv') as f:
    lines = list(csv.reader(f))
    
header,values = lines[0],lines[1:]

data_dict = {h: v for h, v in zip(header, zip(*values))}
data_dict
# print(list(zip(header,zip(*values))))

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [305]:
class my_dialect(csv.Dialect):
    lineterminator = '\n'
    delimiter = ';'
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL
reader = csv.reader(f,dialect=my_dialect)
reader = csv.reader(f,delimiter='|')
#什么意思

In [306]:
with open('mydata.csv','w') as f:
    writer = csv.writer(f,dialect=my_dialect)
    writer.writerow(('one','two','three'))
    writer.writerow(('1','2','3'))
    writer.writerow(('4','5','6'))
    writer.writerow(('7','8','9'))

#### JSON数据

In [30]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [31]:
import json
result = json.loads(obj)
result
#实际上就是打开上一个cell中的obj，不是文件中的json所以不需要open()

{'name': 'Wes',
 'pet': None,
 'places_lived': ['United States', 'Spain', 'Germany'],
 'siblings': [{'age': 30, 'name': 'Scott', 'pets': ['Zeus', 'Zuko']},
  {'age': 38, 'name': 'Katie', 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [ ]:
asjson = json.dumps(result)
#json.dumps将python对象转换成JSON

In [310]:
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age'])
siblings

    name  age
0  Scott   30
1  Katie   38

In [312]:
!cat examples/example.json
#pandas.read_json可以自动将特别格式的JSON数据集转换为Series或DataFrame

[{"a": 1, "b": 2, "c": 3},
 {"a": 4, "b": 5, "c": 6},
 {"a": 7, "b": 8, "c": 9}]

In [313]:
data = pd.read_json('examples/example.json')
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [314]:
print(data.to_json())
print(data.to_json(orient='records'))

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}
[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

#### XML和HTML: Web信息收集

In [2]:
!pip install beautifulsoup4 html5lib

Requirement already satisfied: beautifulsoup4 in ./anaconda3/lib/python3.6/site-packages (4.6.0)
Requirement already satisfied: html5lib in ./anaconda3/lib/python3.6/site-packages (0.9999999)
Requirement already satisfied: six in ./anaconda3/lib/python3.6/site-packages (from html5lib) (1.11.0)
WARNING: You are using pip version 19.1, however version 19.1.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [11]:
#pandas.read_html有一些选项，默认条件下，它会搜索、尝试解析
#标签内的的表格数据。结果是一个列表的DataFrame对象：
tables = pd.read_html('examples/fdic_failed_bank_list.html')
print(len(tables))
failures = tables[0]
failures.head()

1

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

In [13]:
close_timestamps = pd.to_datetime(failures['Closing Date'])
close_timestamps.dt.year.value_counts()

2010    157
2009    140
2011     92
2012     51
2008     25
2013     24
2014     18
2002     11
2015      8
2016      5
2004      4
2001      4
2007      3
2003      3
2000      2
Name: Closing Date, dtype: int64

利用lxml.objectify解析XML

In [17]:
from lxml import objectify
path = 'datasets/mta_perf/Performance_MNR.xml'
parsed = objectify.parse(open(path))
root = parsed.getroot()

In [18]:
data = []

skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ',
               'DESIRED_CHANGE', 'DECIMAL_PLACES']

for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)

In [19]:
print(data)
perf = pd.DataFrame(data)
perf.head()

[{'AGENCY_NAME': 'Metro-North Railroad', 'INDICATOR_NAME': 'On-Time Performance (West of Hudson)', 'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n', 'PERIOD_YEAR': 2008, 'PERIOD_MONTH': 1, 'CATEGORY': 'Service Indicators', 'FREQUENCY': 'M', 'INDICATOR_UNIT': '%', 'YTD_TARGET': 95.0, 'YTD_ACTUAL': 96.9, 'MONTHLY_TARGET': 95.0, 'MONTHLY_ACTUAL': 96.9}, {'AGENCY_NAME': 'Metro-North Railroad', 'INDICATOR_NAME': 'On-Time Performance (West of Hudson)', 'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n', 'PERIOD_YEAR': 2008, 'PERIOD_MONTH': 2, 'CATEGORY': 'Service Indicators', 'FREQUENCY': 'M', 'INDICATOR_UNIT': '%', 'YTD_TARGET': 95.0, 'YTD_ACTUAL': 96.0, 'MONTHLY_TARGET': 95.0, 'MONTHLY_ACTUAL': 95.0}, {'AGENCY_NAME': 'Metro-North Railroad', 'INDICATOR_NAME': 'On-Time Performance (West of Hudson)', 'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n', 'PERIOD_YEAR': 2008, 'PERIOD_MONTH': 3, 'CATEGORY': 'Service Indicators', 'FREQUENCY': 'M', 'INDICATOR_UNIT': '%', 'YTD_TARGET': 95.0, 'YTD_ACTUAL': 96.3, 'MONTHLY_TARGET': 95.0, 'MONTHLY_ACTUAL': 96.9}, {'AGENCY_NAME': 'Metro-North Railroad', 'INDICATOR_NAME': 'On-Time Performance (West of Hudson)', 'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n', 'PERIOD_YEAR': 2008, 'PERIOD_MONTH': 4, 'CATEGORY': 'Service Indicators', 'FREQUENCY': 'M', 'INDICATOR_UNIT': '%', 'YTD_TARGET': 95.0, 'YTD_ACTUAL': 96.8, 'MONTHLY_TARGET': 95.0, 'MONTHLY_ACTUAL': 98.3}, {'AGENCY_NAME': 'Metro-North Railroad', 'INDICATOR_NAME': 'On-Time Performance (West of Hudson)', 'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n', 'PERIOD_YEAR': 2008, 'PERIOD_MONTH': 5, 'CATEGORY': 'Service Indicators', 'FREQUENCY': 'M', 'INDICATOR_UNIT': '%', 'YTD_TARGET': 95.0, 'YTD_ACTUAL': 96.6, 'MONTHLY_TARGET': 95.0, 'MONTHLY_ACTUAL': 95.8}, {'AGENCY_NAME': 'Metro-North Railroad', 'INDICATOR_NAME': 'On-Time Performance (West of Hudson)', 'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n', 'PERIOD_YEAR': 2008, 'PERIOD_MONTH': 6, 'CATEGORY': 'Service Indicators', 'FREQUENCY': 'M', 'INDICATOR_UNIT': '%', 'YTD_TARGET': 95.0, 'YTD_ACTUAL': 96.2, 'MONTHLY_TARGET': 95.0, 'MONTHLY_ACTUAL': 94.4}, {'AGENCY_NAME': 'Metro-North Railroad', 'INDICATOR_NAME': 'On-Time Performance (West of Hudson)', 'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n', 'PERIOD_YEAR': 2008, 'PERIOD_MONTH': 7, 'CATEGORY': 'Service Indicators', 'FREQUENCY': 'M', 'INDICATOR_UNIT': '%', 'YTD_TARGET': 95.0, 'YTD_ACTUAL': 96.2, 'MONTHLY_TARGET': 95.0, 'MONTHLY_ACTUAL': 96.0}, {'AGENCY_NAME': 'Metro-North Railroad', 'INDICATOR_NAME': 'On-Time Performance (West of Hudson)', 'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n', 'PERIOD_YEAR': 2008, 'PERIOD_MONTH': 8, 'CATEGORY': 'Service Indicators', 'FREQUENCY': 'M', 'INDICATOR_UNIT': '%', 'YTD_TARGET': 95.0, 'YTD_ACTUAL': 96.2, 'MONTHLY_TARGET': 95.0, 'MONTHLY_ACTUAL': 96.4}, {'AGENCY_NAME': 'Metro-North Railroad', 'INDICATOR_NAME': 'On-Time Performance (West of Hudson)', 'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n', 'PERIOD_YEAR': 2008, 'PERIOD_MONTH': 9, 'CATEGORY': 'Service Indicators', 'FREQUENCY': 'M', 'INDICATOR_UNIT': '%', 'YTD_TARGET': 95.0, 'YTD_ACTUAL': 95.9, 'MONTHLY_TARGET': 95.0, 'MONTHLY_ACTUAL': 93.7}, {'AGENCY_NAME': 'Metro-North Railroad', 'INDICATOR_NAME': 'On-Time Performance (West of Hudson)', 'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n', 'PERIOD_YEAR': 2008, 'PERIOD_MONTH': 10, 'CATEGORY': 'Service Indicators', 'FREQUENCY': 'M', 'INDICATOR_UNIT': '%', 'YTD_TARGET': 95.0, 'YTD_ACTUAL': 96.0, 'MONTHLY_TARGET': 95.0, 'MONTHLY_ACTUAL': 96.4}, {'AGENCY_NAME': 'Metro-North Railroad', 'INDICATOR_NAME': 'On-Time Performance (West of Hudson)', 'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n', 'PERIOD_YEAR': 2008, 'PERIOD_MONTH': 11, 'CATEGORY': 'Service Indicators', 'FREQUENCY': 'M', 'INDICATOR_UNIT': '%', 'YTD_TARGET': 95.0, 'YTD_ACTUAL': 96.1, 'MONTHLY_TARGET': 95.0, 'MONTHLY_ACTUAL': 96.9}, {'AGENCY_NAME': 'Metro-North Railroad', 'INDICATOR_NAME': 'On-Time Performance (West of Hudson)', 'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n', 'PERIOD_YEAR': 2008, 'PERIOD_MONTH': 12, 'CATEGORY': 'Service Indicators', 'FREQUENCY': 'M', 'INDICATOR_UNIT': '%', 'YTD_TARGET': 95.0, 'YTD_ACTUAL': 96.0, 'MONTHLY_TARGET': 95.0, 'MONTHLY_ACTUAL': 95.1}, {'AGENCY_NAME': 'Metro-North Railroad', 'INDICATOR_NAME': 'On-Time Performance (West of Hudson)', 'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n', 'PERIOD_YEAR': 2009, 'PERIOD_MONTH': 1, 'CATEGORY': 'Service Indicators', 'FREQUENCY': 'M', 'INDICATOR_UNIT': '%', 'YTD_TARGET': 96.2, 'YTD_ACTUAL': 92.6, 'MONTHLY_TARGET': 96.2, 'MONTHLY_ACTUAL': 92.6}, {'AGENCY_NAME': 'Metro-North Railroad', 'INDICATOR_NAME': 'On-Time Performance (West of Hudson)', 'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n', 'PERIOD_YEAR': 2009, 'PERIOD_MONTH': 2, 'CATEGORY': 'Service Indicators', 'FREQUENCY': 'M', 'INDICATOR_UNIT': '%', 'YTD_TARGET': 96.2, 'YTD_ACTUAL': 94.6, 'MONTHLY_TARGET': 96.2, 'MONTHLY_ACTUAL': 96.8}, {'AGENCY_NAME': 'Metro-North Railroad', 'INDICATOR_NAME': 'On-Time Performance (West of Hudson)', 'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n', 'PERIOD_YEAR': 2009, 'PERIOD_MONTH': 3, 'CATEGORY': 'Service Indicators', 'FREQUENCY': 'M', 'INDICATOR_UNIT': '%', 'YTD_TARGET': 96.2, 'YTD_ACTUAL': 95.4, 'MONTHLY_TARGET': 96.2, 'MONTHLY_ACTUAL': 96.9}, {'AGENCY_NAME': 'Metro-North Railroad', 'INDICATOR_NAME': 'On-Time Performance (West of Hudson)', 'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n', 'PERIOD_YEAR': 2009, 'PERIOD_MONTH': 4, 'CATEGORY': 'Service Indicators', 'FREQUENCY': 'M', 'INDICATOR_UNIT': '%', 'YTD_TARGET': 96.2, 'YTD_ACTUAL': 95.9, 'MONTHLY_TARGET': 96.2, 'MONTHLY_ACTUAL': 97.1}, {'AGENCY_NAME': 'Metro-North Railroad', 'INDICATOR_NAME': 'On-Time Performance (West of Hudson)', 'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n', 'PERIOD_YEAR': 2009, 'PERIOD_MONTH': 5, 'CATEGORY': 'Service Indicators', 'FREQUENCY': 'M', 'INDICATOR_UNIT': '%', 'YTD_TARGET': 96.2, 'YTD_ACTUAL': 96.2, 'MONTHLY_TARGET': 96.2, 'MONTHLY_ACTUAL': 97.8}, {'AGENCY_NAME': 'Metro-North Railroad', 'INDICATOR_NAME': 'On-Time Performance (West of Hudson)', 'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n', 'PERIOD_YEAR': 2009, 'PERIOD_MONTH': 6, 'CATEGORY': 'Service Indicators', 'FREQUENCY': 'M', 'INDICATOR_UNIT': '%', 'YTD_TARGET': 96.2, 'YTD_ACTUAL': 96.4, 'MONTHLY_TARGET': 96.2, 'MONTHLY_ACTUAL': 97.3}, {'AGENCY_NAME': 'Metro-North Railroad', 'INDICATOR_NAME': 'On-Time Performance (West of Hudson)', 'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n', 'PERIOD_YEAR': 2009, 'PERIOD_MONTH': 7, 'CATEGORY': 'Service Indicators', 'FREQUENCY': 'M', 'INDICATOR_UNIT': '%', 'YTD_TARGET': 96.2, 'YTD_ACTUAL': 96.5, 'MONTHLY_TARGET': 96.2, 'MONTHLY_ACTUAL': 96.7}, {'AGENCY_NAME': 'Metro-North Railroad', 'INDICATOR_NAME': 'On-Time Performance (West of Hudson)', 'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n', 'PERIOD_YEAR': 2009, 'PERIOD_MONTH': 8, 'CATEGORY': 'Service Indicators', 'FREQUENCY': 'M', 'INDICATOR_UNIT': '%', 'YTD_TARGET': 96.2, 'YTD_ACTUAL': 96.4, 'MONTHLY_TARGET': 96.2, 'MONTHLY_ACTUAL': 95.7}, {'AGENCY_NAME': 'Metro-North Railroad', 'INDICATOR_NAME': 'On-Time Performance (West of Hudson)', 'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n', 'PERIOD_YEAR': 2009, 'PERIOD_MONTH': 9, 'CATEGORY': 'Service Indicators', 'FREQUENCY': 'M', 'INDICATOR_UNIT': '%', 'YTD_TARGET': 96.2, 'YTD_ACTUAL': 96.3, 'MONTHLY_TARGET': 96.2, 'MONTHLY_ACTUAL': 96.1}, {'AGENCY_NAME': 'Metro-North Railroad', 'INDICATOR_NAME': 'On-Time Performance (West of Hudson)', 'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n', 'PERIOD_YEAR': 2009, 'PERIOD_MONTH': 10, 'CATEGORY': 'Service Indicators', 'FREQUENCY': 'M', 'INDICATOR_UNIT': '%', 'YTD_TARGET': 96.2, 'YTD_ACTUAL': 96.2, 'MONTHLY_TARGET': 96.2, 'MONTHLY_ACTUAL': 94.8}, {'AGENCY_NAME': 'Metro-North Railroad', 'INDICATOR_NAME': 'On-Time Performance (West of Hudson)', 'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n', 'PERIOD_YEAR': 2009, 'PERIOD_MONTH': 11, 'CATEGORY': 'Service Indicators', 'FREQUENCY': 'M', 'INDICATOR_UNIT': '%', 'YTD_TARGET': 96.2, 'YTD_ACTUAL': 96.1, 'MONTHLY_TARGET': 96.2, 'MONTHLY_ACTUAL': 95.7}, {'AGENCY_NAME': 'Metro-North Railroad', 'INDICATOR_NAME': 'On-Time Performance (West of Hudson)', 'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n', 'PERIOD_YEAR': 2009, 'PERIOD_MONTH': 12, 'CATEGORY': 'Service Indicators', 'FREQUENCY': 'M', 'INDICATOR_UNIT': '%', 'YTD_TARGET': 96.2, 'YTD_ACTUAL': 96.0, 'MONTHLY_TARGET': 96.2, 'MONTHLY_ACTUAL': 95.0}, {'AGENCY_NAME': 'Metro-North Railroad', 'INDICATOR_NAME': 'On-Time Performance (West of Hudson)', 'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n', 'PERIOD_YEAR': 2010, 'PERIOD_MONTH': 1, 'CATEGORY': 'Service Indicators', 'FREQUENCY': 'M', 'INDICATOR_UNIT': '%', 'YTD_TARGET': 96.3, 'YTD_ACTUAL': 98.0, 'MONTHLY_TARGET': 96.3, 'MONTHLY_ACTUAL': 98.0}, {'AGENCY_NAME': 'Metro-North Railroad', 'INDICATOR_NAME': 'On-Time Performance (West of Hudson)', 'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n', 'PERIOD_YEAR': 2010, 'PERIOD_MONTH': 2, 'CATEGORY': 'Service Indicators', 'FREQUENCY': 'M', 'INDICATOR_UNIT': '%', 'YTD_TARGET': 96.3, 'YTD_ACTUAL': 95.6, 'MONTHLY_TARGET': 96.3, 'MONTHLY_ACTUAL': 93.0}, {'AGENCY_NAME': 'Metro-North Railroad', 'INDICATOR_NAME': 'On-Time Performance (West of Hudson)', 'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n', 'PERIOD_YEAR': 2010, 'PERIOD_MONTH': 3, 'CATEGORY': 'Service Indicators', 'FREQUENCY': 'M', 'INDICATOR_UNIT': '%', 'YTD_TARGET': 96.3, 'YTD_ACTUAL': 96.1, 'MONTHLY_TARGET': 96.3, 'MONTHLY_ACTUAL': 96.9}, {'AGENCY_NAME': 'Metro-North Railroad', 'INDICATOR_NAME': 'On-Time Performance (West of Hudson)', 'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n', 'PERIOD_YEAR': 2010, 'PERIOD_MONTH': 4, 'CATEGORY': 'Service Indicators', 'FREQUENCY': 'M', 'INDICATOR_UNIT': '%', 'YTD_TARGET': 96.3, 'YTD_ACTUAL': 96.6, 'MONTHLY_TARGET': 96.3, 'MONTHLY_ACTUAL': 98.1}, {'AGENCY_NAME': 'Metro-North Railroad', 'INDICATOR_NAME': 'On-Time Performance (West of Hudson)', 'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n', 'PERIOD_YEAR': 2010, 'PERIOD_MONTH': 5, 'CATEGORY': 'Service Indicators', 'FREQUENCY': 'M', 'INDICATOR_UNIT': '%', 'YTD_TARGET': 96.3, 'YTD_ACTUAL': 96.8, 'MONTHLY_TARGET': 96.3, 'MONTHLY_ACTUAL': 97.6}, {'AGENCY_NAME': 'Metro-North Railroad', 'INDICATOR_NAME': 'On-Time Performance (West of Hudson)', 'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n', 'PERIOD_YEAR': 2010, 'PERIOD_MONTH': 6, 'CATEGORY': 'Service Indicators', 'FREQUENCY': 'M', 'INDICATOR_UNIT': '%', 'YTD_TARGET': 96.3, 'YTD_ACTUAL': 96.9, 'MONTHLY_TARGET': 96.3, 'MONTHLY_ACTUAL': 97.4}, {'AGENCY_NAME': 'Metro-North Railroad', 'INDICATOR_NAME': 'On-Time Performance (West of Hudson)', 'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n', 'PERIOD_YEAR': 2010, 'PERIOD_MONTH': 7, 'CATEGORY': 'Service Indicators', 'FREQUENCY': 'M', 'INDICATOR_UNIT': '%', 'YTD_TARGET': 96.3, 'YTD_ACTUAL': 96.9, 'MONTHLY_TARGET': 96.3, 'MONTHLY_ACTUAL': 96.6}, {'AGENCY_NAME': 'Metro-North Railroad', 'INDICATOR_NAME': 'On-Time Performance (West of Hudson)', 'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n', 'PERIOD_YEAR': 2010, 'PERIOD_MONTH': 8, 'CATEGORY': 'Service Indicators', 'FREQUENCY': 'M', 'INDICATOR_UNIT': '%', 'YTD_TARGET': 96.3, 'YTD_ACTUAL': 96.9, 'MONTHLY_TARGET': 96.3, 'MONTHLY_ACTUAL': 97.1}, {'AGENCY_NAME': 'Metro-North Railroad', 'INDICATOR_NAME': 'On-Time Performance (West of Hudson)', 'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n', 'PERIOD_YEAR': 2010, 'PERIOD_MONTH': 9, 'CATEGORY': 'Service Indicators', 'FREQUENCY': 'M', 'INDICATOR_UNIT': '%', 'YTD_TARGET': 96.3, 'YTD_ACTUAL': 96.9, 'MONTHLY_TARGET': 96.3, 'MONTHLY_ACTUAL': 96.7}, {'AGENCY_NAME': 'Metro-North Railroad', 'INDICATOR_NAME': 'On-Time Performance (West of Hudson)', 'DESCRIPTION': 'Percent of co

,AGENCY_NAME,CATEGORY,DESCRIPTION,FREQUENCY,INDICATOR_NAME,INDICATOR_UNIT,MONTHLY_ACTUAL,MONTHLY_TARGET,PERIOD_MONTH,PERIOD_YEAR,YTD_ACTUAL,YTD_TARGET
0,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,95,1,2008,96.9,95
1,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95,95,2,2008,96,95
2,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,95,3,2008,96.3,95
3,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,98.3,95,4,2008,96.8,95
4,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95.8,95,5,2008,96.6,95

In [20]:
from io import StringIO
tag = '<a href="http://www.google.com">Google</a>'
root = objectify.parse(StringIO(tag)).getroot()

In [21]:
print(root)
print(root.get('herf'))
print(root.text)

Google
None
Google

### 二进制数据格式

In [23]:
frame = pd.read_csv('examples/ex1.csv')
print(frame)

frame.to_pickle('examples/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [25]:
pd.read_pickle('examples/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

#### 使用HDF5格式

In [ ]:
import numpy as np
import pandas as pd
frame = pd.DataFrame({'a': np.random.randn(100)})
print(frame)
store = pd.HDFStore('mydata.h5')
store['obj1'] = frame
store['obj1_col'] = frame['a']
store

In [ ]:
store['obj1']

In [ ]:
store.put('obj2',frame,format='table')
store.select('obj2', where=['index >= 10 and index <= 15'])
store.close()

In [ ]:
frame.to_hdf('mydata.h5', 'obj3', format='table')
pd.read_hdf('mydata.h5', 'obj3', where=['index < 5'])

#### 读取Microsoft Excel文件

In [2]:
import pandas as pd
xlsx = pd.ExcelFile('examples/ex1.xlsx')

In [3]:
pd.read_excel(xlsx, 'Sheet1')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [4]:
frame = pd.read_excel('examples/ex1.xlsx', 'Sheet1')
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [5]:
writer = pd.ExcelWriter('examples/ex2.xlsx')
frame.to_excel(writer, 'Sheet1')
writer.save()

In [6]:
frame.to_excel('examples/ex2.xlsx')

### Web APIs交互

In [7]:
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

In [8]:
data = resp.json()
data[0]['title']

'SparseArrays backed by other Extension array/dtype ?'

In [9]:
issues = pd.DataFrame(data, columns=['number', 'title',
                                     'labels', 'state'])
issues

,number,title,labels,state
0,26407,SparseArrays backed by other Extension array/d...,"[{'id': 849023693, 'node_id': 'MDU6TGFiZWw4NDk...",open
1,26406,BUG: to_numpy on categorical data with tz awar...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
2,26405,DEPR: deprecate Series/DataFrame.compound,"[{'id': 87485152, 'node_id': 'MDU6TGFiZWw4NzQ4...",open
3,26404,Fix type annotations in pandas.core.indexes.da...,[],open
4,26403,DEPR: Deprecate ordered=None for CategoricalDtype,"[{'id': 78527356, 'node_id': 'MDU6TGFiZWw3ODUy...",open
5,26402,DOC: Test doctests in pandas/core/tools/dateti...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
6,26401,Test doctests in pandas/core/tools/datetimes.py,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
7,26400,ENH: Support multiple opening hours intervals ...,[],open
8,26399,ENH: Support nested renaming / selection,"[{'id': 35818298, 'node_id': 'MDU6TGFiZWwzNTgx...",open
9,26398,Fix type annotations in pandas.core.resample,"[{'id': 74975453, 'node_id': 'MDU6TGFiZWw3NDk3...",open
10,26397,DataFrame.describe excludes top and freq for e...,[],open
11,26396,CLN: remove compat.lrange,"[{'id': 49747336, 'node_id': 'MDU6TGFiZWw0OTc0...",open
12,26395,different type conversion results in assignmen...,"[{'id': 31404521, 'node_id': 'MDU6TGFiZWwzMTQw...",open
13,26394,BUG: to_numeric does not validate the errors k...,"[{'id': 42670965, 'node_id': 'MDU6TGFiZWw0MjY3...",open
14,26393,Holiday based on the lunar calendar?,[],open
15,26392,[TEST] Add two more parameters to the test_dti...,"[{'id': 53181044, 'node_id': 'MDU6TGFiZWw1MzE4...",open
16,26391,[PERF] Get rid of MultiIndex conversion in Int...,"[{'id': 150096370, 'node_id': 'MDU6TGFiZWwxNTA...",open
17,26390,BUG: assigning Series.array / PandasArray to c...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
18,26389,Converting json to csv,"[{'id': 307649777, 'node_id': 'MDU6TGFiZWwzMDc...",open
19,26388,read_parquet S3 dir support,"[{'id': 685114413, 'node_id': 'MDU6TGFiZWw2ODU...",open
20,26385,GroupBy nth ignores observed keyword for Categ...,"[{'id': 78527356, 'node_id': 'MDU6TGFiZWw3ODUy...",open
21,26384,Remove Deprecated Azure CI Step,[],open
22,26383,Prefixed batch script commands with call,[],open
23,26381,BUG: error calculating BusinessHourMixin.apply...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
24,26380,ENH: Implementing NEP 18's __array_function__,[],open
25,26379,BUG: Series.combine_first with mixed timezones,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
26,26377,Fix type annotations in pandas.core.ops,"[{'id': 1280988427, 'node_id': 'MDU6TGFiZWwxMj...",open
27,26376,pd.read_fwf fails with file pointer to url,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
28,26374,BUG: ngroups and len(groups) do not equal when...,"[{'id': 233160, 'node_id': 'MDU6TGFiZWwyMzMxNj...",open
29,26372,Misc Type Annotation fixes,"[{'id': 1280988427, 'node_id': 'MDU6TGFiZWwxMj...",open

#### 数据库交互

In [11]:
import sqlite3

query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
c REAL,        d INTEGER
);"""

con = sqlite3.connect('mydata.sqlite')
con.execute(query)

In [12]:
con.commit()

In [13]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]

stmt = "INSERT INTO test VALUES(?,?,?,?)"
con.executemany(stmt,data)

In [14]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [15]:
print(cursor.description)

print(pd.DataFrame(rows,columns=[x[0] for x in cursor.description]))

(('a', None, None, None, None, None, None), ('b', None, None, None, None, None, None), ('c', None, None, None, None, None, None), ('d', None, None, None, None, None, None))
             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [17]:
import sqlalchemy as sqla

db = sqla.create_engine('sqlite:///mydata.sqlite')

pd.read_sql('select * from test', db)

Empty DataFrame
Columns: [a, b, c, d]
Index: []